h3{
    text-align: center;
}

p {
    text-align: center;
    font-size: 2em;
    margin: 20px 20px 20px 20px;
}

.oauth_button {
    color: #FFFFFF;
    background-color: #00A0FF;
    border: 1px;
    border-radius:5px;
    text-decoration: none;
    padding: 10px;
}