<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MPS</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
<body>
<h1>MPS список Выбранных подстанций:</h1>
<form method="POST" th:action="@{/edit/current}" th:object="${currentSubst}">
    <div>
        <span th:text="*{nameSubst}"> TPNAME </span>
        <span>|</span>
        <span th:text="*{IP}"> IP.IP </span>
        <span>|</span>
        <span th:text="*{zone}"> TPZONE </span><br/>

        <button>Редактировать выбранную подстанцию</button>
    </div>
</form>
</body>
</html>