<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MPS</title>
</head>
<body>
    <h1>Register</h1>
    <img th:src="@{/static/images/MPSHome.png}"/>
    <p>Have a login? Click
        <a th:href="@{/login}">here</a> to login.</p>
    <form method="POST" th:action="@{/registrationRush}" id="registerForm">
        <label for="username">Username:</label>
        <input type="text" name="username"/><br/>

        <label for="password">Password:</label>
        <input type="text" name="password"/><br/>

        <label for="confirm">Confirm password:</label>
        <input type="text" name="confirm"/><br/>

        <input type = "submit" value="Register"/>
    </form>
</body>
</html>